* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    grid-gap: 5px;
    height: 100vh;
}

.item {
    border: 1px solid black;
}

.header {
    grid-area: header;
    background:rgb(38, 157, 226);
}

.left {
    grid-area: left;
    border: 3px solid rgb(38, 157, 226);
}

.g1, .g2, .g3 {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}

.content {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border: 3px solid rgb(38, 157, 226);
}

h1{ 
    font-size: 100px;
    color: rgb(38, 157, 226);
}
.icon-arrow-left{
    display: none;
}

.icon-arrow-right{
    display: block;
}
.foto{
    width: 400px;
    height: 300px;
    border: 5px solid rgb(38, 157, 226);
    border-radius: 25px;
}

img {
    margin: 25px;
}

.footer {
    grid-area: footer;
    background:rgb(38, 157, 226);
}